.login{
        
    position: absolute;
    left: 200px;
    top: 200px;
    border-radius: 5px;

}
.register{
position: absolute;
    right: 200px;
    top: 200px;
    border-radius: 5px;
}
input[type=button]
    {
        padding: 10px 133px;
background-color: rgb(52, 142, 245);
color:white;
text-align: center;
    }
input[type=text]
{
    padding:10px 70px;
}
input[type=password]
{
padding:10px 70px;
}
h1{
text-align: center;
color: silver;
text-shadow: 1px 2px rgb(28, 16, 56);
font-size: 37px;
}
.vertical{
    border-left: 2px solid silver;
    height: 250px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 250px;
  }
  @media only screen and (max-width: 600px)
  {
    .vertical{
        display: none;
    }
    img{
        display: none;
    }
    .login{
        
        position: absolute;
        left: 15px;
        top: 20px;
        border-radius: 5px;
       
    }
    .register{
    position: absolute;
        left:15px;
        top: 155px;
        border-radius: 5px;
        
    }
    input[type=button]
    {
        padding: 5px 112px;
    background-color: rgb(52, 142, 245);
    color:white;
    text-align: center;
    }
    input[type=text]
    {
        padding:5px 50px;
    }
    input[type=password]
    {
    padding:5px 50px;
    }
    h1{
    text-align: center;
    color: silver;
    text-shadow: 1px 2px rgb(28, 16, 56);
    font-size: 25px;
    }
  }
  @media only screen and (min-width: 600px)
  {
      .vertical{
          display: none;
      }
    .login{
        
        position: absolute;
        left: 150px;
        top: 60px;
        border-radius: 5px;
       
    }
    .register{
    position: absolute;
        left:150px;
        top: 300px;
        border-radius: 5px;
        
    }
    input[type=button]
    {
        padding: 5px 112px;
        background-color: rgb(52, 142, 245);
        color:white;
        text-align: center;
    }
    input[type=text]
    {
        padding:5px 50px;
    }
    input[type=password]
    {
    padding:5px 50px;
    }
    h1{
    text-align: center;
    color: silver;
    text-shadow: 1px 2px rgb(28, 16, 56);
    font-size: 25px;
    }
  }
  @media only screen and (min-width: 768px)
  {
      .vertical{
          display: none;
      }
    .login{
        
        position: absolute;
        left: 175px;
        top: 120px;
    }
    .register{
    position: absolute;
        left:175px;
        top: 350px;
        
    }
    input[type=button]
    {
        padding: 5px 112px;
        background-color: rgb(52, 142, 245);
        color:white;
        text-align: center;
    }
    input[type=text]
    {
        padding:5px 50px;
    }
    input[type=password]
    {
    padding:5px 50px;
    }
    h1{
    text-align: center;
    color: silver;
    text-shadow: 1px 2px rgb(28, 16, 56);
    font-size: 40px;
    }
  }
  @media only screen and (min-width: 998px)
  {
    .vertical{
        display: none;
    }
  .login{
      
      position: absolute;
      left: 15px;
      top: 20px;
      border-radius: 5px;
     
  }
  .register{
  position: absolute;
      left:150px;
      top: 169px;
      border-radius: 5px;
      
  }
  input[type=button]
  {
    padding: 10px 103px;
    background-color: rgb(52, 142, 245);
    color:white;
    text-align: center;
  }
  input[type=text]
  {
      padding:10px 50px;
  }
  input[type=password]
  {
  padding:10px 50px;
  }
  h1{
  text-align: center;
  color: silver;
  text-shadow: 1px 2px rgb(28, 16, 56);
  font-size: 59px;
  }
  }
  @media only screen and (min-width: 1200px)
  {
    .login{
      
        position: absolute;
        left: 250px;
        top: 170px;
        border-radius: 5px;
    }
    .register{
    position: absolute;
        left:800px;
        top: 170px;
        border-radius: 5px;
        
    }
    input[type=button]
    {
        padding:10px 50px;
    }
    input[type=text]
    {
        padding: 10px 112px;
    background-color: rgb(52, 142, 245);
    color:white;
    text-align: center;
    }
    input[type=password]
    {
    padding:10px 50px;
    }
    h1{
    text-align: center;
    color: silver;
    text-shadow: 1px 2px rgb(28, 16, 56);
    font-size: 69px;
    }
    .vertical{
        border-left: 2px solid silver;
        height: 250px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 250;
      }
    }
    @media only screen and (min-width: 1000px)
    {
        .login{
      
            position: absolute;
            left: 150px;
            top: 120px;
            border-radius: 5px;
           
        }
        .register{
        position: absolute;
            left:600px;
            top: 120px;
            border-radius: 5px;
            
        }
        input[type=button]
        {
            padding: 10px 112px;
            background-color: rgb(52, 142, 245);
            color:white;
            text-align: center;
        }
        input[type=text]
        {
            padding:10px 50px;
            background-color:white;
            color:black;
        }
        input[type=password]
        {
        padding:10px 50px;
        }
        h1{
        text-align: center;
        color: silver;
        text-shadow: 1px 2px rgb(28, 16, 56);
        font-size: 50px;
        }
    }
    @media only screen and (min-width: 1440px)
    {
        h1{
            text-align: center;
            color: silver;
            text-shadow: 1px 2px rgb(28, 16, 56);
            font-size: 60px;
            }
            .login{
      
                position: absolute;
                left: 320px;
                top: 150px;
                border-radius: 5px;
               
            }
            .register{
            position: absolute;
                left:900px;
                top: 150px;
                border-radius: 5px;
                
            }
            input[type=text]
{
 background-color: white;
    padding:10px 70px;
    color:black;
}
input[type=password]
{
padding:10px 70px;
}
input[type=button]
    {
        padding: 10px 133px;
background-color: rgb(52, 142, 245);
color:white;
text-align: center;
    }
 }

  